@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'DM Sans';
    overflow-x: hidden;
    min-width: 320px;
    width: 100vw;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 119px;
}

.header-inner-container{
    width: 1220px;
    display: flex;
    justify-content: space-between;
}

.header-inner-left-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
.header-inner-left-container .information{
    
    display: flex;
    flex-wrap: nowrap;
}
.header-inner-left-container svg{
    margin: 0 20px;
}

.header-inner-left-container span{
    margin: 0 13px;
    font-size: 17px;
}
.header-inner-right-container{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.basket{
    position: relative;
    margin: 5px 25px;
    cursor: pointer;
}

.basket-count{
    position: absolute;
    bottom: -5px;
    left: -5px;
    background-color: #FF9C08;
    padding: .1rem .4rem;
    font-size: 12px;
    text-align: center;
    color: white;
}

.btn-donate{
    background-color: #FF9C08;
    width: 180px;
    height: 71px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
}
.btn-about-charity{
    background-color: #afabab;
    width: 225px;
    height: 71px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    margin-left: 4.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-line{
    height: 1px;
    width: 100vw;
    background-color: #F0ECE8;
}

.second-line{
    height: 4px;
    width: 20%;
    background-color: #FF9C08;
    margin-top: 0;
}
.introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.introduction img{
    width: 677px;
    height: 817px;
}

.introduction .description{
    display: flex;
    flex-direction: column;
    margin-left: 7.5%;
    margin-right: 3.5%;
    height: 381px;
    width: 610px;
}

.description strong{
    font-size: 3.75rem;
    font-family: 'Roboto', sans-serif;
    line-height: 5rem;
    font-weight: 700;
    height: 147px;
}

.description .buttons-introduction{
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
}

.description .text{
    font-size: 1.5rem;
    color: #6E6E6E;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 79px;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 316px;
    width: 100%;
    background-color: #FEF9F2;
}

.icons .wrapper-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
}

.icons .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 109px;
    width: 284px;
}

.icons .body .upper-body{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.icons .body .upper-body span{
    line-height: 80px;
}

.icons .body .symbol{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    color: #FF9C08;
}

.icons .body .signature{
    font-size: 20px;
    font-family: 'DM Sans';
    color: #6E6E6E;
}

.third-line-line{
    margin: auto;
    width: 84.7%;
    height: 1px;
    background-color: #DAD1CA;
}

.about-us{
    background-color: #FEF9F2;
    height: 1669px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-about{
    display: flex;
    flex-direction: row;
}
.wrapper-about .right-column,
.wrapper-about .left-column{
    display: flex;
    flex-direction: column;
    width: 596px;
    height: 1231px;
}

.wrapper-about .left-column{
    margin-right: 15px;
}
.wrapper-about .right-column{
    margin-left: 15px;
}
.wrapper-about .right-column .information{
    margin-top: 50px;
}

.right-column
.information
.positive{
    display: flex;
    align-items: center;
}

.wrapper-positive{
    margin-top: 20px;
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-column
.information
.positive span{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-left: 16px;
}

.wrapper-about .right-column .text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #6E6E6E;
    font-family: 'DM Sans', sans-serif;
}
.wording{
    display: flex;
    flex-direction: column;
}
.wording .name-section,
.wording .title,
.wording .text{
    padding-bottom: 28px;
}
.wording .name-section{
    display: flex;
    color: #FF9C08;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.2px;
    height: 18px;
}

.wording .title{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 58px;
    height: 101px;
}

.wording .text{
    text-align: left;
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #6E6E6E;
    height: 80px;
}

.about-us .buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 48px;
}

.about-us .btn-about-us{
    width: 153px;
    height: 73px;
    border-radius: 10px;
    background-color: #a29d9d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-left: 28px;
    cursor: pointer;
}

.our-results{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1088px;
}
.our-results .wrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 1220px;
}

.our-results
.wrapper
.left-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 36.1vw;
}

.our-results
.wrapper
.left-column
.name-section {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.2px;
    color: #FF9C08;
    margin-bottom: 20px;
}

.our-results
.wrapper
.left-column
.describe{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 58px;
    margin-bottom: 30px;
}

.our-results .elements{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 54px;
    justify-content: space-between;
}

.our-results
.elements
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.elements
.icon
.name-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    margin-bottom: 28px;
    width: 100%;
    height: 100%;
}

.elements .icon .name-icon .title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;
}

.elements .icon .name-icon .signature{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #6E6E6E;;
}

.frame-video{
    height: 1660px;
}

.frame-video .bg{
    background: #FFD4A4;
    height: 864px;
    display: flex;
    justify-content: center;
}

.frame-video .content{
    width: 1268px;
    height: 1260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

.frame-video .content .header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .header .describe{
    font-family: 'Roboto', sans-serif;
    width: 752px;
    font-weight: 700;
    font-size: 42px;
    line-height: 58px;
    text-align: center;
    margin-bottom: 38px;
}

.content .header .title{
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.content .header .buttons{
    display: flex;
    flex-direction: row;
    margin-bottom: 64px;
}

.content .video{
    position: relative;
    width: 1220px;
    height: 688px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/image6.png) no-repeat;
    background-size: cover;
    margin-bottom: 56px;
    border-radius: 57px;
}



.content .description{
    width: calc(100% - 48px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .description .first,
.content .description .second{
    display: flex;
    flex-direction: column;
    width: 576px;
    height: 186px;
}

.frame-video .description .title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}

.frame-video .description .describe{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #6E6E6E;
}

.How-we-help{
    margin: 0 auto;
    width: 1268px;
    height: 1146px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.How-we-help header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 48px);
    margin-bottom: 64px;
    height: 158px;
}

.How-we-help header .left-column{
    display: flex;
    flex-direction: column;
}

.How-we-help header .left-column .title{
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.2px;
    color: #FF9C08;
}

.How-we-help header .left-column .description{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 58px;
    height: 116px;
    width: 571px;

}

.How-we-help header .btn-donate{
    align-self: flex-end;
}

.How-we-help .board{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: calc(100% - 48px);
    height: 928px;
}

.How-we-help .board .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 388px;
    height: 450px;
    border-radius: 12px;
    border: 1px solid #F0ECE8;
    text-align: center;
}

.How-we-help .board .card .title{
    margin-top: 24px;
    margin-bottom: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}

.How-we-help .board .card .description{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #6E6E6E;
    width: 312px;
}



footer{
    height: 751px;
    background-color: #FEF9F2;
    margin-top: 88px;
}

footer .wrapper{

    width: 1268px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

footer .upper{
    width: calc(100% - 64px);
    height: 377px;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 187px;
}

footer .upper .firma{
    width: 336px;
}

footer .firma img{
    width: 239px;
    margin-bottom: 20px;
}

footer .firma .item{
    width: 336px;
    height: 61px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

footer .upper .menu{
    width: 149px;
}

footer .upper .utility{
    width: 204px;
}

footer .utility span,
footer .menu span,
header span{
    cursor: pointer;
}

footer .upper .form{
    width: 388px;
    height: 100%;
    background-color: #FF9C08;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .form .btn-donate{
    margin: 21px 0 21px 0;
    background-color: black;
    width: 282px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

footer .form .more-ways{
    background-color: #a6a5a5;
    width: 282px;
    height: 71px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
}

footer .form span{
    margin-top: 77px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    font-family: 'Roboto', sans-serif;
    width: 282px;
}

footer .upper .firma,
footer .upper .menu,
footer .upper .form,
footer .upper .utility{
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer .menu .name,
footer .utility .name{
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 50px;
}

footer .menu .item,
footer .utility .item{
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #3F3F3F;
}

footer .bottom{
    margin-top: 123px;
    margin-bottom: 28px;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

footer .bottom .signature{
    width: 692px;
    height: 100%;
}

footer .bottom .social{
    width: 287px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

footer .bottom .social div{
    height: 36px;
    width: 36px;
    background-color: black;
    border-radius: 8px;
}

footer .bottom .signature span{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

footer .bottom .signature span a{
    color: #090909;
    text-decoration-line: underline;
}

.firstname{
    margin-bottom: 25px;
}

.btn-about-charity:hover{
    opacity: 0.8;
}
.btn-donate:hover{
    opacity: 0.8;
}

.frame-video .btn-donate{
    color: white;
    background-color: black;
}

@media screen and (min-width: 768px)
and (max-width: 1280px) {

    .btn-donate{
        width: 142px;
        height: 54px;
    }

    .header-inner-container{
        width: 712px;
    }

    .header-inner-left-container{
        width: 452px;
    }

    .header-inner-left-container .information span{
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
    }

    .header-inner-left-container img{
        width: 180px;
        height: 38px;
    }


    .introduction .description{
        height: 549px;
        width: 325px;
        margin-right: 23px;
        margin-left: 59px;
    }
    .introduction .description .btn-donate,
    .introduction .description .btn-about-charity {
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
    }

    .introduction .description .btn-donate{
        width: 142px;
        height: 73px;
    }

    .introduction img{
        width: 361px;
    }

    .introduction .description .btn-about-charity{
        width: 167px;
        margin-left: 11px;
    }

    .description strong {
        height: 240px;
    }

    .icons .wrapper-body {
        width: 736px;
        height: 124px;
    }

    .icons .body{
        height: 100%;
    }

    .icons .wrapper-body .signature{
        text-align: center;
    }

    .wrapper-about{
        height: 1422px;
        width: 728px;
    }

    .wrapper-about .left-column {
        margin-right: 6px;
        width: 355px;
    }

    .wrapper-about .left-column .images .firstname{
        width: 355px;
        height: 530px;
        margin-bottom: 51px;
    }

    .wrapper-about .left-column .images .secondname{
        width: 355px;
        height: 391px;
    }

    .about-us .left-column .wording .name-section{
        padding: 0;
    }

    .about-us .left-column .wording .title{
        height: 174px;
    }

    .about-us .left-column .wording .text{
        height: 174px;
        padding-bottom: 0;
    }

    .about-us .left-column .wording{
        padding-bottom: 78px;
        height: 369px;
    }

    .wrapper-about .right-column .thirdname{
        height: 749px;
        width: 361px;
    }

    .wrapper-about .right-column .text,
    .right-column .information .positive span{
        font-size: 20px;
    }

    .right-column .information .positive{
        margin-bottom: 20px;
        align-items: start;
    }

    .wrapper-about .right-column .information {
        margin-top: 78px;
        height: 440px;
    }

    .wrapper-about .right-column{
        margin-left: 6px;
        width: 361px;
        height: 1418px;
    }

    .wrapper-positive {
        margin-top: 53px;
    }

    .about-us .right-column .buttons{
        margin-bottom: 78px;
    }

    .about-us .right-column .buttons .btn-donate{
        width: 180px;
        height: 71px;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
    }

    .our-results {
        height: 840px;
    }

    .our-results .wrapper {
        width: 656px;
        height: 688px;
    }

    .our-results .wrapper .left-column {
        width: 282px;
        height: 100%;
    }

    .our-results .wrapper .left-column .name-section {
        font-size: 24px;     
        margin-bottom: 0;
    }

    .our-results .wrapper .left-column .describe {
        height: 159px;
    }

    
.our-results .elements {
    width: 282px;
    height: 375px;
    margin-bottom: 31px;
    align-content: space-between;
}

.our-results .elements .icon img{
    width: 75px;
    height: 76px;
    margin-right: 38px;
}

.elements .icon .name-icon {
    margin-left: 0;
    margin-bottom: 0;
    flex-flow: row wrap;
    justify-content: start;
    align-content: space-between;
}

.elements .icon {
    width: 100%;
    height: 76px;
}

.elements .icon .name-icon .title {
    height: 44px;
}

.elements .icon .name-icon .signature {
    height: 20px;
}

.our-results .fourthname{
    width: 311px;
    height: 688px;
}

.our-results .left-column .btn-donate{
    width: 100%;
    height: 71px;
    font-size: 18px;
    font-weight: 700;
}

.frame-video .bg {
    width: 100%;
}

.frame-video .content {
    width: 676px;
    height: 1435px;
    justify-content: flex-start;
}

.content .video{
    width: 650px;
}

.content .description {
    width: calc(100% - 26px);
}

.content .description .first,
.content .description .second{
    width: 318px;
    height: 360px;
}

.frame-video .description .title {
    font-size: 26px;
    width: 100%;
    height: 69px;
    margin-bottom: 20px;
}

.frame-video .header .btn-donate{
    width: 180px;
    height: 71px;
    background-color: #090909;
    color: white;
}

.frame-video .header .btn-about-charity{
    width: 225px;
    height: 73px;
    background-color: #FFFFFF;
    color: #090909;
    margin-left: 0;
    font-size: 18px;
}

.content .header .buttons {
    width: 433px;
    justify-content: space-between;
}

.frame-video .description .describe {
    font-size: 22px;
}

.How-we-help {
    margin: 139px auto 0 auto;
    width: 676px;
    height: 1630px;
}

.How-we-help .board {
    width: calc(100% - 26px);
    height: 1412px;
}

.How-we-help .board .card {
    width: 250px;
    justify-content: end;
}

.How-we-help .board .card .description {
    width: 206px;
    height: 154px;
}

.How-we-help header {
    width: 100%;
    margin-bottom: 64px;
    height: 158px;
}

.How-we-help header .left-column .title {
    font-size: 24px;
    width: 100%;
}

.How-we-help header .left-column .description {
    font-size: 36px;
    width: 100%;
}

.How-we-help header .left-column{
    width: 462px;
}

.How-we-help header .btn-donate {
    width: 193px;
    height: 71px;
    align-self: center;
}

    footer {
        margin-top: 75px;
    }

footer .wrapper {
    width: 676px;
}

footer .upper {
    width: 100%;
    height: 564px;
    margin-top: 0;
    flex-wrap: wrap;
    align-content: space-between;
}

    footer .upper .firma {
        width: 589px;
        height: 91px;
        margin: 0 auto;
    }
    footer .firma .item {
        width: 100%;
        height: 31px;
    }

    footer .upper .menu {
        width: 127px;
        height: 364px;
    }

    footer .upper .utility {
        width: 188px;
        height: 364px;
    }

    footer .upper .form {
        width: 236px;
        height: 364px;
    }

    footer .form span {
        margin-top: 17px;
        width: 172px;
    }

    footer .form .btn-donate,
    footer .form .more-ways{
        width: 197px;
        height: 71px;
    }
    footer .form .btn-donate {
        margin: 22px 0 15px 0;
    }

    footer .bottom .social div {
        height: 28px;
        width: 28px;
    }

    footer .menu .item,
    footer .utility .item {
        font-size: 20px;
    }

    footer .menu .name,
    footer .utility .name {
        font-size: 23px;
    }

    footer .bottom {
        margin-top: 117px;
        margin-bottom: 0;
        width: 100%;
        height: 70px;
    }

    footer .bottom .signature {
        width: 355px;
    }

    footer .bottom .social {
        width: 193px;
        height: 28px;
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
    }

}

@media screen and (max-width: 767px) {

    .header-inner-container {
        width: 291px;
    }

    .header-inner-left-container img{
        width: 131px;
        height: 32px;
    }

    .header-inner-left-container .information {
        display: none;
    }

   header .header-inner-container .btn-donate {
        font-size: 0;
        background: url("../img/Burger.svg");
        width: 43px;
        height: 43px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .introduction {
        flex-direction: column-reverse;
        height: 817px;
    }

    .introduction img {
        width: 100%;
        height: 344px;
        margin-bottom: 23px;
    }

    .second-line {
        align-self: start;
    }

    .introduction .description {
        margin-left: 0;
        margin-right: 0;
        height: 450px;
        width: 320px;
        align-items: center;
    }

    .description strong {
        margin: 14px 0 11px 0;
        font-size: 23px;
        height: 54px;
        width: 214px;
        text-align: center;
        line-height: 30px;
    }

    .description .text {
        width: 264px;
        font-size: 18px;
        text-align: center;
        margin-bottom: 0;
    }

    .description .buttons-introduction {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 155px;
        width: 159px;
    }

    .description .buttons-introduction .btn-donate,
    .description .buttons-introduction .btn-about-charity{
        height: 71px;
        width: 100%;
        margin: 0;
    }

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 778px;

    }

    .icons .wrapper-body {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        width: 1220px;
    }

    .icons .wrapper-body {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        width: 282px;
        height: 644px;
    }

    .about-us {
        height: 1270px;
    }

    .wrapper-about {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .wrapper-about .left-column {
        margin-right: 0;
        width: 100%;
        height: 439px;
        align-items: center;
    }

    .wording .title {
        font-size: 25px;
        line-height: 25px;
        height: 50px;
    }

    .wording .text {
        height: 204px;
        font-size: 18px;
    }

    .wording .name-section{
        height: 22px;
    }

    .wording .title,
    .wording .text,
    .wording .name-section{
        display: block;
        padding-bottom: 10px;
        margin:0 16px 0 16px;
    }

    .about-us .images{
        display: flex;
        flex-direction: row;
        width: 271px;
        height: 133px;
        justify-content: space-between;
    }

    .firstname,
    .secondname{
        width: 133px;
        height: 133px;
        border-radius: 10px;
        margin: 0;
    }

    .wrapper-about .right-column {
        margin-left: 0;
        height: 831px;
        width: 100%;
        align-items: center;
    }

    .about-us .buttons {
        width: 282px;
        height: 73px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 23px 0 23px 0;
    }

    .about-us .btn-donate,
    .about-us .btn-about-us{
        width: 130px;
        height: 73px;
        margin: 0;
        font-size: 18px;
    }

    .thirdname{
        width: 271px;
        height: 293px;
        border-radius: 10px;
    }

    .wrapper-about .right-column .information {
        margin-top: 0;
        height: 420px;
    }

    .wrapper-about .right-column .text {
        width: 266px;
        height: 237px;
    }

    .wrapper-positive {
        margin-top: 49px;
        height: 163px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right-column .information .positive,
    .right-column .information .positive span {
        height: 46px;
    }

    .right-column .information .positive img{
        height: 26px;
        width: 20px;
    }

    .our-results {
        height: 960px;
    }

    .our-results .wrapper {
        height: 918px;
        width: 272px;
        flex-direction: column;
    }

    .our-results .wrapper .left-column {
        width: 100%;
        height: 665px;
        margin-bottom: 17px;
    }

    .our-results .wrapper .left-column .describe {
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 45px;
    }

    .our-results .elements .icon {
        width: 100%;
        height: 76px;
    }

    .elements .icon .name-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 24px;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
    }

    .fourthname{
        width: 100%;
        height: 234px;
        border-radius: 10px;
    }

    .our-results .elements {
        height: 413px;
        margin-bottom: 16px;
        align-content: space-between;
    }

    .our-results .btn-donate{
        width: 100%;
        height: 71px;
    }

    .frame-video {
        height: 1927px;
    }

    .frame-video .content {
        width: 291px;
        height: 1879px;
        margin-top: 48px;
    }

    .frame-video .content .header {
        width: 100%;
    }

    .content .header .title {
        margin-bottom: 4px;
        height: 20px;
    }

    .content .header .describe {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        height: 284px;
        text-align: center;
        margin-bottom: 24px;
    }

    .content .header .buttons {
        flex-direction: column-reverse;
        margin-bottom: 74px;
        height: 167px;
        width: 225px;
        justify-content: space-between;
    }

    .frame-video .btn-donate{
        width: 100%;
        height: 71px;
    }

    .frame-video .btn-about-charity{
        margin-left: 0;
        height: 71px;
        width: 100%;
        font-size: 18px;
    }

    .content .video {
        position: relative;
        width: 291px;
        height: 525px;
        background-size: 291px 525px;
        margin-bottom: 50px;
    }

    .content .description {
        width: 100%;
        height: 731px;
        flex-direction: column;
        justify-content: space-between;
    }

    .frame-video .description .describe,
    .frame-video .description .title{
        width: 100%;
        text-align: center;
    }

    .frame-video .description .title{
        margin-bottom: 11px;
    }

    .frame-video .description .first{
        height: 344px;
        width: 100%;
    }

    .frame-video .description .second{
        height: 321px;
        width: 100%;
    }

    .How-we-help {
        margin: 83px auto 0 auto;
        width: 100%;
        height: 2573px;
    }

    .How-we-help header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 297px;
        margin-bottom: 20px;
        height: 209px;
    }

    .How-we-help header .left-column .description {
        font-size: 20px;
        line-height: 30px;
        height: 60px;
        width: 100%;
    }

    .How-we-help header .btn-donate {
        width: 100%;
        height: 71px;
    }

    .How-we-help .board {
        width: 100%;
        height: 2344px;
    }

    .How-we-help .board .card {
        width: 311px;
        height: 389px;

    }

    .How-we-help .board .card .description {
        width: 300px;
    }

    .How-we-help .board .card .title {
        margin-bottom: 7px;
    }

    footer {
        height: 1128px;
        margin-top: 73px;
    }

    footer .wrapper {
        width: 100%;
        height: 100%;
    }

    footer .upper {
        width: 282px;
        height: 905px;
        flex-wrap: wrap;
        margin-top: 0;
    }

    footer .upper .firma {
        width: 233px;
        height: 139px;
        margin: 29px auto 10px auto;
    }

    footer .firma img {
        width: 166px;
        height: 38px;
        margin-bottom: 10px;
    }

    footer .firma .item {
        width: 100%;
        height: 91px;
    }

    footer .upper .form {
        width: 100%;
        height: 364px;
    }

    footer .upper .menu {
        width: 102px;
        height: 316px;
    }

    footer .upper .utility {
        width: 139px;
        height: 294px;
    }

    footer .menu .name,
    footer .utility .name {
        margin-bottom: 0;
        line-height: 20px;
    }

    footer .menu .item,
    footer .utility .item {
        margin-bottom: 0;
        font-size: 15px;
    }

    footer .upper .menu,
    footer .upper .utility {
        justify-content: space-between;
        margin-bottom: 47px;
    }

    footer .form span {
        margin-top: 26px;
        width: 205px;
    }

    footer .form .btn-donate,
    footer .form .more-ways{
        width: 212px;
        height: 71px;
    }

    footer .form .btn-donate{
        margin: 25px 0 16px 0;
    }

    footer .bottom {
        margin-top: 50px;
        margin-bottom: 0;
        width: 100%;
        height: 169px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer .bottom .signature {
        width: 100%;
        height: 54px;
    }

    footer .bottom .signature span{
        width: 100%;
    }

    footer .bottom .social {
        width: 271px;
        height: 36px;
        margin: 0 auto;
    }

}

@font-face {
    font-family: 'DM Sans';
    src: url("../fonts/dmsans.woff2") format('woff2');
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');