
@font-face {
    font-family: Glacial;
}
body{
    background-color: #525659;
    min-width: 375px;
}
h2{
    color: #47167d;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 5px;
    border-bottom: 2px solid #777777;
    padding-bottom: .4rem;
    margin-bottom: .4rem;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #efefef;
}
.header{
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}
.content-cv{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.colum{
    width: 100%;
}
article{
    color: #765996;
}
.colum-1{
    width: calc(50% - 1rem);
    padding-right: 1rem;
}
.colum-2{
    width: calc(50% - 1rem);
    padding-left: 1rem;
}
.title{
    text-transform: uppercase;
    color: #656e65;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;

}
.title h1{
    font-weight: 700;
    font-size: 55px;
    letter-spacing: 10px;
    margin: 0;
}

.image-cv{
    width: 50%;
    display: flex;
    justify-content: center;
}
.image-cv img{
    width: 80%;

}
.content-info{
    margin-bottom: 1rem;
}
.list{
    color: #765996;
    list-style: none;
    padding: 0;
}
a{
    color: #64aab6;
    text-decoration:none;
}

.list span{
    font-weight: 300;
    color: #775a97;
}

.skills-list{
    list-style: initial;
    padding-left: 1rem;
}

footer{
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 610px) {
    .title h1{
        font-size: 40px;
    }
}

@media (max-width: 520px) {
    .title h1{
        font-size: 30px;
    }
}

@media (max-width: 410px) {
    .title h1{
        font-size: 20px;
    }
    h2{
        font-size: .7rem;
    }
    .list{
        font-size: 13px;
    }

}
